.turistic-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

    .turistic-title {
        color: #000000;
        font-size: 32px;
        margin: 32px 0;
    }

    .turistic-form {
        max-width: 720px;
        width: 100%;

        .turistic-form-wrapper {
            display: flex;

            .turistic-form-inputs {
                margin-bottom: 16px;

                .turistic-form-title-wrapper {
                    align-items: center;
                    margin-left: 16px;

                    .turistic-form-title-input {
                        width: 328px;
                        height: 56px;
                        border: 2px solid $gray-100;
                        border-radius: 8px;
                        padding: 16px;
                        font-family: "Roboto", sans-serif;
                        color: $gray-400;
                    }
                }
            }
        }

        .turistic-form-submit-button {
            width: 121px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 54px;
            padding: 16px 20px;
            border: 1px solid $red;
            box-sizing: border-box;
            border-radius: 8px;
            background: $red;
            color: $white;
            font-weight: 700;
            margin-left: auto;

            &hover {
                background: $red-300;
            }

            &active {
                background: $red;
            }
        }
    }
}
