.turistic-form-image-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    border: 2px solid $gray-100;
    border-radius: 8px;
    width: 288px;
    height: 212px;

    .turistic-form-image-input {
        display: none;
    }

    .turistic-form-image-span {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        font-family: "Roboto", sans-serif;
        color: $gray-400;
    }
}

.turistic-form-description-textarea {
    width: 417px;
    height: 136px;
    border: 2px solid $gray-100;
    border-radius: 8px;
    margin: 16px;
    padding: 20px;
    padding-top: 38px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    resize: none;
    color: $gray-400;

    &placeholder {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
    }
}

.point-container {
    margin-top: 60px;

    .point-title {
        margin-bottom: 32px;
        color: $black;
    }

    .point-div-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        .point-div {
            display: flex;
            background: #ffffff;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            margin-bottom: 16px;
            align-items: center;

            .point-turistic-image {
                max-width: 288px;
                max-height: 212px;
            }

            .point-turistic-text {
                display: flex;
                flex-direction: column;
                margin: 8px 24px;

                .point-turistic-name {
                    margin-bottom: 8px;
                    width: 240px;
                    height: 60px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 700;
                    size: 24px;
                    line-height: 28px;
                    color: $black-100;
                }

                .point-turistic-description {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: $gray-400;
                    width: 240px;
                    height: 96px;
                }
            }
        }
    }

    .new-point-div-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .turistic-form-wrapper {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
    }

    .turistic-form-image-label,
    .turistic-form-title-input,
    .turistic-form-description-textarea {
        width: 100%;
        margin: 0;
    }

    .turistic-form-title-wrapper,
    .turistic-form-description-textarea {
        margin-left: 0;
    }

    .turistic-form-title-wrapper,
    .turistic-form-image-label {
        margin-bottom: 16px;
    }

    .turistic-form-image-label {
        width: 85%;
    }

    .turistic-form-submit-button {
        max-width: 90%;
        width: 100%;
        margin: 0 16px;
    }
}

@media (max-width: 768px) {
    .point-div-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 16px;
    }

    .point-div {
        flex-direction: column;
    }

    .point-title {
        text-align: center;
    }
}
